archspec 
asttokens 
blosc2==2.5.1
boltons 
Brotli 
certifi 
cffi 
charset-normalizer 
comm 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
contourpy==1.2.0
cryptography 
cvxopt==1.3.2
cycler==0.12.1
debugpy 
decorator 
distro 
executing 
filelock 
fonttools==4.49.0
fsspec==2024.2.0
huggingface-hub==0.21.4
idna 
ipdb==0.13.13
ipykernel 
ipython 
jedi 
Jinja2 
joblib==1.3.2
jsonpatch 
jsonpointer==2.1
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
libmambapy 
MarkupSafe 
matplotlib==3.8.3
matplotlib-inline 
menuinst 
mkl-fft 
mkl-random 
mkl-service==2.4.0
mpmath 
msgpack==1.0.8
ndindex==1.8
nest-asyncio 
networkx 
numexpr==2.9.0
numpy 
packaging 
pandas==2.2.1
parso 
pexpect 
pillow 
platformdirs 
pluggy 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
py-cpuinfo==9.0.0
pycosat 
pycparser 
Pygments 
pyparsing==3.1.2
PySocks 
python-dateutil 
pytz==2024.1
PyYAML 
pyzmq 
regex==2023.12.25
requests 
ruamel.yaml 
safetensors==0.4.2
scipy==1.12.0
setuptools==68.2.2
six 
stack-data 
sympy 
tables==3.9.2
tokenizers==0.15.2
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tornado 
tqdm 
traitlets 
transformers==4.38.2
truststore 
typing_extensions 
tzdata==2024.1
urllib3 
wcwidth 
wheel==0.41.2
zstandard 
